<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MyViewExtensionExample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>189A1BA91ED6BCE6001DB54F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>189A1BC21ED6BCE6001DB54F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>189A1BCD1ED6BCE6001DB54F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
